body {
    font-family: "Helvetica","Verdana","Arial",sans-serif;
    background: #fdfbf9;
    color: #444;
}



a {
    color: #39d;
}

.fph {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #ddd;
}

.fph a {
    display: block;
    height: 8em;
    overflow: hidden;
    text-align: center;
    padding-top: 3em;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 0px 0px 8px black;
}
