body {
    font-family: "Helvetica","Verdana","Arial",sans-serif;
    background: #fdfbf9;
    color: #444;
}

h1.title {
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 2px;
}

a {
    color: #39d;
}

.stripe {
    display: block;
    width: 100%;
}

.mist {
    background-color: rgba(127,127,127,0.2)
}

.sidebar a.title {
    display: block;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    text-shadow: 0px 0px 8px #336;
    text-shadow: 0px 0px 8px rgba(20,20,40,0.5);
    background: none;
}

.stripe.title.home .sidebar a.title {
    padding: 4em 0 0 0;
}

.stripe.title.home .sidebar .strapline {
    padding: 0 0 4em 0;
}

.stripe.title {
    background: #39d;
}

.fph, .stripe.title.home {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fph {
    background-color: #ddd;
}

.fph a {
    display: block;
    height: 8em;
    overflow: hidden;
    text-align: center;
    padding-top: 3em;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 0px 0px 8px black;
}

.fph a:hover {
    background: #38d;
    text-shadow: none;
    background: rgb(51, 153, 221, 0.7);
}
