<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {{ if .IsHome -}}
  <title>{{ .Site.Title }}</title>
  {{- else -}}
  <title>{{ .Site.Title }} - {{ .Title }}</title>
  {{- end }}

  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="{{ "css/normalize.css" | relURL }}" media="screen">
  <link type="text/css" rel="stylesheet" href="{{ "css/grid24.min.css" | relURL }}" media="screen">
  <link type="text/css" rel="stylesheet" href="{{ "css/style.css" | relURL }}" media="screen">

  <!-- RSS -->
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

</head>
