<div class="stripe title{{ if .IsHome }} home{{ end }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-24">
	<div class="sidebar">
	  <div class="sidebar-about">
	    <a href="{{ .Site.BaseURL }}" class="title"><h1 class="title">{{ .Site.Title }}</h1></a>
	    {{ with .Site.Params.description }}<p class="lead">{{.}}</p>{{ else }} {{end}}
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>

<div class="stripe sidebar{{ if .IsHome }} home{{ end }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-24">
	<ul class="sidebar-nav">
	  <li><a href="{{ "/" | relURL }}">Home</a> </li>
	  {{ range .Site.Menus.main -}}
	  <li><a href="{{.URL}}"> {{ .Name }} </a></li>
	  {{- end }}
	</ul>
      </div>
    </div>
  </div>
</div>
