{{ define "main" }}
<main aria-role="main">
  <header class="homepage-header">
    <h1>{{.Title}}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
  </header>
  <div class="homepage-content">
    <div class="row">
      {{ range .Params.forestry_highlight_pages }}
      <div class="col-xs-24">Highlight page: {{ .forestry_highlight_page }}</div>
      {{ end }}
    </div>
    <div class="row">
      <div class="col-xs-24">
	{{.Content}}
      </div>
    </div>
  </div>
  <div class="row">
    {{ range first 3 .Data.Pages }}
    <div class="col-xs-24 col-sm-8">
      {{ .Summary }}
      {{ if .Truncated }}
      <div class="read-more-link">
        <a href="{{ .RelPermalink }}">Read More…</a>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div><!-- .row -->
</main>
{{ end }}
