{{ define "main" }}
<div class="container">
  <div class="row">
    {{ range .Params.forestry_highlight_pages }}
      {{ with $.Site.GetPage "page" .forestry_highlight_page }}
        <div class="col-xs-24 col-sm-8">
          <div class="fph" style="background-image: url({{ .Params.banner_image }})">
	    <div><a href="{{ .RelPermalink }}">{{ .Title }}</a><p class="strapline"><p class="strapline">{{ .Params.strapline }}</p></div>
	  </div>
        </div>
      {{ end }}
    {{ end }}
  </div>
  <div class="row">
    <div class="col-xs-24">
      {{.Content}}
    </div>
  </div>

</div><!-- .container -->
{{ end }}
